.stepContainer {
  position: absolute;
  left: 0;
  right: 0;
  bottom: 30px;
  display: flex;
  flex-flow: row nowrap;
  justify-content: center;
  align-items: center;
  img {
    width: 45px;
  }
  p {
    margin: 0 36px;
    font-size: 31px;
    font-weight: bold;
    color: #f4ac90;
  }
}