.homePage {
  margin: 0 0;
  background: url("../assets/images/main_bg@2x.png") no-repeat;
  background-size: cover;
  display: flex;
  flex-flow: column nowrap;
  //justify-content: space-between;
  align-items: center;
  color: #ffffff;
  text-align: left;
  padding: 0 42.5px;
  font-weight: normal;
  max-width: 700px;
  max-height: 1400px;
  height: 100%;

  .title {
    margin-top: 6.25rem;
    margin-bottom: 0;
    //padding: 224px 0;
    font-size: 2.1rem;
    line-height: 1.33;
    letter-spacing: normal;
    font-family: 'IropkeBatang', serif;
    text-shadow: 1.9px 1.6px 4px #160e18;
    -webkit-text-stroke: 0.5px #ffffff;
  }
  .subTitle {
    margin-top: 2.25rem;
    font-size: 0.8rem;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.67;
    letter-spacing: normal;
  }

  .startBtn {
    width: 216px;
    height: 74px;
    line-height: 74px;
    margin-top: 5.3rem;
    //padding-left: 10px;
    background: url("../assets/images/start_btn@2x.png") no-repeat;
    background-size: contain;
    text-align: center;
    text-decoration: none;
    color: #fff;

    p {
      margin: 0 0 0 40px;
      font-size: 26.5px;
      font-weight: normal;
    }
  }
  .ainizeLogo {
    position: absolute;
    bottom: 30px;
    width: 161px;
    //margin-bottom: 20px;
  }
}
